.col + .col {
  margin-left: 1.6%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.off1 {
  margin-left: 49.2%;
}

.off2 {
  margin-left: 100%;
}

.xs1 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 49.2%;
}

.xs2 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 100%;
}

@media screen and (min-width: 351px) {
  .off1 {
    margin-left: 32.2666666667%;
  }
  .off2 {
    margin-left: 66.1333333333%;
  }
  .off3 {
    margin-left: 100%;
  }
  .s1 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 32.2666666667%;
  }
  .s2 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 66.1333333333%;
  }
  .s3 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 600px) {
  .off1 {
    margin-left: 23.8%;
  }
  .off2 {
    margin-left: 49.2%;
  }
  .off3 {
    margin-left: 74.6%;
  }
  .off4 {
    margin-left: 100%;
  }
  .m1 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 23.8%;
  }
  .m2 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 49.2%;
  }
  .m3 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 74.6%;
  }
  .m4 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 992px) {
  .off1 {
    margin-left: 18.72%;
  }
  .off2 {
    margin-left: 39.04%;
  }
  .off3 {
    margin-left: 59.36%;
  }
  .off4 {
    margin-left: 79.68%;
  }
  .off5 {
    margin-left: 100%;
  }
  .l1 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 18.72%;
  }
  .l2 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 39.04%;
  }
  .l3 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 59.36%;
  }
  .l4 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 79.68%;
  }
  .l5 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .off1 {
    margin-left: 15.3333333333%;
  }
  .off2 {
    margin-left: 32.2666666667%;
  }
  .off3 {
    margin-left: 49.2%;
  }
  .off4 {
    margin-left: 66.1333333333%;
  }
  .off5 {
    margin-left: 83.0666666667%;
  }
  .off6 {
    margin-left: 100%;
  }
  .el1 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 15.3333333333%;
  }
  .el2 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 32.2666666667%;
  }
  .el3 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 49.2%;
  }
  .el4 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 66.1333333333%;
  }
  .el5 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 83.0666666667%;
  }
  .el6 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 100%;
  }
}/*# sourceMappingURL=projet.css.map */