@import '_grid.scss';

$gutter : 1.6%;
$TotalNBColumnsEl : 6;//1200px
$TotalNBColumnsL : 5;//992px
$TotalNBColumnsM : 4;//600px
$TotalNBColumnsS : 3;//>350px
$TotalNBColumnsXs : 2;//<350px

.col + .col
    {
        margin-left: $gutter;
    }

.row
    {
        @include row();
    }

    // generate automaticaly .off1 .off2 ... off20  while .off is inferior as $TotalNBColumns
    @for $i from 1 through $TotalNBColumnsXs
    {
        .off#{$i}
        {
            @include offset($i,$TotalNBColumnsXs);
        }
    }

    @for $i from 1 through $TotalNBColumnsXs
    {
        .xs#{$i}
        {
            @include grid();
            @include dimension($i,$TotalNBColumnsXs);
        }
    }

    @media screen and (min-width: 351px)
    {

        @for $i from 1 through $TotalNBColumnsS
        {
            .off#{$i}
            {
                @include offset($i,$TotalNBColumnsS);
            }
        }

        @for $i from 1 through $TotalNBColumnsS
        {
            .s#{$i}
            {
                @include grid();
                @include dimension($i,$TotalNBColumnsS);
            }
        }

    }

    @media screen and (min-width: 600px)
    {

        @for $i from 1 through $TotalNBColumnsM
        {
            .off#{$i}
            {
                @include offset($i,$TotalNBColumnsM);
            }
        }

        @for $i from 1 through $TotalNBColumnsM
        {
            .m#{$i}
            {
                @include grid();
                @include dimension($i,$TotalNBColumnsM);
            }
        }

    }


    @media screen and (min-width: 992px)
    {

        @for $i from 1 through $TotalNBColumnsL
        {
            .off#{$i}
            {
                @include offset($i,$TotalNBColumnsL);
            }
        }

        @for $i from 1 through $TotalNBColumnsL
        {
            .l#{$i}
            {
                @include grid();
                @include dimension($i,$TotalNBColumnsL);
            }
        }

    }


    @media screen and (min-width: 1200px)
    {

        @for $i from 1 through $TotalNBColumnsEl
        {
            .off#{$i}
            {
                @include offset($i,$TotalNBColumnsEl);
            }
        }

        @for $i from 1 through $TotalNBColumnsEl
        {
            .el#{$i}
            {
                @include grid();
                @include dimension($i,$TotalNBColumnsEl);
            }
        }

    }

   

 