@import 'grid.scss';

$gutter : 3%;
/*$TotalNBColumnsEl : 6; //1200px
$TotalNBColumnsL : 5; //992px
$TotalNBColumnsM : 4; //750px
$TotalNBColumnsS : 3; //>550px
$TotalNBColumnsXs : 2; //<450px*/
$TotalNBColumns: 12;
$BorderWidth : 1px;
$BorderStyle : outset;
$BorderShadow: 5px 5px 10px 2px grey;

html {
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 5%;
}

@font-face {
    font-family: 'LondrinaSolid-Black';
    src: url('../Police/LondrinaSolid-Black.ttf') format('truetype');
}


.logo {
    margin: 0;
    width: 3rem;
    height: 3rem;
}

.figure-webDev {
    position: relative;
    margin: 0;
    width: 10%;
}

.h1-webDev2 {
    font-family: 'LondrinaSolid-Black';
    position: relative;
    bottom: 70px;
    margin-left: 3rem;
    font-size: 2rem;
    max-width: 100%;
}

#div-webDev {
    // border-width: $BorderWidth;
    // border-style: $BorderStyle;
    
    height: 70px;
    position: absolute;
    top: 1150px;
    width: 98%;
    background-color: white;

    #image-container2 {
        width: 100%;
        transform: rotate(0deg);

        //position: relative;
        //right: 1%

        #image-logo2 {
            position: relative;
            bottom: 80px;
            margin-left: 50%;
            width: 49%;
        }
    }
}

header {
    // border-width: $BorderWidth;
    // border-style: $BorderStyle;
    box-shadow: $BorderShadow;
    width: 98%;

    h1 {
        font-family: 'LondrinaSolid-Black';
        position: absolute;
        top: -1%;
        margin-left: 3rem;
        font-size: 2rem;
        max-width: 100%;
    }

    #image-container {
        width: 100%;
        transform: rotate(0deg);

        //position: relative;
        //right: 1%
        #image-logo {
            transform: rotate(0deg);
            width: 49%;
            position: relative;
            margin-left: 50%;
        }
    }


    p {
        color: gray;
        padding-bottom: 35px;
    }
}

div p {
    font-size: 0.8rem;
}

/*.div-nav
{
    order: 2;
}

.div-amp
{
    order: 1;
}*/


.image {
    width: 100%;
}

.trait-noir {
    width: 10%;
    height: 6px;
    background-color: black;
}

#div-nav {
    border-style: none;
    box-shadow: none;
}

nav a {
    text-decoration: none;
    color: orange;
}

nav ul {
    list-style: none;
    color: orange;
}

nav h2 {
    color: orange;
    font-family: 'LondrinaSolid-Black';
}

.col {
    margin-bottom: 50px;
}


/*div:nth-child(even) {
    transform: rotate(359deg);
}

div:nth-child(odd) {
    transform: rotate(1deg);
}*/

div figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ul-info {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.li-author {
    background-image: url('../Images/avatar2.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
    text-decoration: underline;
}

.li-date {
    background-image: url('../Images/calendar2.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}


.li-loupe {
    background-image: url('../Images/loupe2.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.li-categorie {
    background-image: url('../Images/categorie2.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.li-author2 {
    background-image: url('../Images/author4.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.li-about {
    background-image: url('../Images/about2.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

.li-postIt {
    background-image: url('../Images/postIt2.png');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
}

h4 {
    font-family: 'LondrinaSolid-Black';
    color: orange;
}


.col+.col {
    margin-left: $gutter;
}

.rowXs {
    @include row();
}

// generate automaticaly .off1 .off2 ... off20  while .off is inferior as $TotalNBColumns
@for $i from 1 through $TotalNBColumns {
    .off#{$i} {
        @include offset($i, $TotalNBColumns);
    }
}

@for $i from 1 through $TotalNBColumns {
    .xs#{$i} {
        @include grid();
        @include dimension($i, $TotalNBColumns);
        // border-width: $BorderWidth;
        // border-style: $BorderStyle;
        box-shadow: $BorderShadow;
    }
}

@media screen and (min-width: 475px) {

    @for $i from 1 through $TotalNBColumns {
        .off#{$i} {
            @include offset($i, $TotalNBColumns);
        }
    }

    @for $i from 1 through $TotalNBColumns {
        .s#{$i} {
            @include grid();
            @include dimension($i, $TotalNBColumns);
        }
    }

    .col:nth-of-type(1) {
        order: -11;
    }

    .col:nth-of-type(2) {
        order: -10;
    }

    .col:nth-of-type(3) {
        order: -9;
    }

    .col:nth-of-type(5) {
        order: -7;
    }

    .col:nth-of-type(6) {
        order: -8;
    }

    .col:nth-of-type(7) {
        order: -6;
    }

    .col:nth-of-type(8) {
        order: -5;
    }

    .col:nth-of-type(9) {
        order: -4;
    }

    .col:nth-of-type(10) {
        order: -3;
    }

    .col:nth-of-type(11) {
        order: -2;
    }


    #div-webDev {
        // border-width: $BorderWidth;
        // border-style: $BorderStyle;
        box-shadow: $BorderShadow;
        height: 70px;
        position: absolute;
        top: 1650px;
        width: 98%;
        background-color: white;
    }


    header {

        #image-container {
            width: 100%;
            transform: rotate(0deg);
            position: relative;
            bottom: 30px;

            //position: relative;
            //right: 1%
            #image-logo {
                transform: rotate(0deg);
                width: 39%;
                position: relative;
                margin-left: 60%;
            }
        }
    }



}

@media screen and (min-width: 658px) {

    @for $i from 1 through $TotalNBColumns {
        .off#{$i} {
            @include offset($i, $TotalNBColumns);
        }
    }

    @for $i from 1 through $TotalNBColumns {
        .m#{$i} {
            @include grid();
            @include dimension($i, $TotalNBColumns);
        }
    }

    .col:nth-of-type(1) {
        order: -11;
    }

    .col:nth-of-type(2) {
        order: -10;
    }

    .col:nth-of-type(3) {
        order: -8;
    }

    .col:nth-of-type(5) {
        order: -7;
    }

    .col:nth-of-type(6) {
        order: -9;
    }

    .col:nth-of-type(7) {
        order: -6;
    }

    .col:nth-of-type(8) {
        order: -5;
    }

    .col:nth-of-type(9) {
        order: -4;
    }

    .col:nth-of-type(10) {
        order: -3;
    }

    .col:nth-of-type(11) {
        order: -2;
    }

    #div-webDev {
        display: none;
    }

    header {

        #image-container {

            #image-logo {
                transform: rotate(0deg);
                width: 27%;
                position: relative;
                margin-left: 72%;
            }
        }
    }

}


@media screen and (min-width: 762px) {

    @for $i from 1 through $TotalNBColumns {
        .off#{$i} {
            @include offset($i, $TotalNBColumns);
        }
    }

    @for $i from 1 through $TotalNBColumns {
        .l#{$i} {
            @include grid();
            @include dimension($i, $TotalNBColumns);
        }
    }

    .col:nth-of-type(1) {
        order: -11;
    }

    .col:nth-of-type(2) {
        order: -10;
    }

    .col:nth-of-type(3) {
        order: -9;
    }

    .col:nth-of-type(5) {
        order: -8;
    }

    .col:nth-of-type(6) {
        order: -7;
    }

    .col:nth-of-type(7) {
        order: -6;
    }

    .col:nth-of-type(8) {
        order: -5;
    }

    .col:nth-of-type(9) {
        order: -4;
    }

    .col:nth-of-type(10) {
        order: -3;
    }

    .col:nth-of-type(11) {
        order: -2;
    }

    header {

        #image-container {

            #image-logo {
                transform: rotate(0deg);
                width: 23%;
                position: relative;
                margin-left: 76%;
            }
        }
    }



}


@media screen and (min-width: 810px) {

    @for $i from 1 through $TotalNBColumns {
        .off#{$i} {
            @include offset($i, $TotalNBColumns);
        }
    }

    @for $i from 1 through $TotalNBColumns {
        .el#{$i} {
            @include grid();
            @include dimension($i, $TotalNBColumns);
        }

        .col:nth-of-type(1) {
            order: -11;
        }

        .col:nth-of-type(2) {
            order: -10;
        }

        .col:nth-of-type(3) {
            order: -9;
        }

        .col:nth-of-type(5) {
            order: -7;
        }

        .col:nth-of-type(6) {
            order: -8;
        }

        .col:nth-of-type(7) {
            order: -6;
        }

        .col:nth-of-type(8) {
            order: -5;
        }

        .col:nth-of-type(9) {
            order: -4;
        }

        .col:nth-of-type(10) {
            order: -3;
        }

        .col:nth-of-type(11) {
            order: -2;
        }
    }

    header {

        #image-container {

            #image-logo {
                transform: rotate(0deg);
                width: 22%;
                position: relative;
                margin-left: 77%;
            }
        }
    }



    /*.rowEl
    {
        @include rowEl();


    }*/

    /*.rowXs
    {
        @include annuleRow();
    }*/
}

.col {
    h4, .trait-noir, .ul-info, p {
        margin-left: 3%;
        margin-right: 3%;
    }

    p {
        text-align: justify;
    }

    h4 {
        margin-top: 30%;
        font-size: 1.5rem;
    }
}

.col:nth-of-type(2) {
    transform: rotate(-1deg);
}

.col:nth-of-type(3) {
    transform: rotate(1deg);
}

.col:nth-of-type(5) {
    transform: rotate(-1deg);
}

.col:nth-of-type(6) {
    transform: rotate(1deg);
}

.col:nth-of-type(7) {
    transform: rotate(-1deg);
}

.col:nth-of-type(8) {
    transform: rotate(1deg);
}

.col:nth-of-type(9) {
    transform: rotate(-1deg);
}

.col:nth-of-type(10) {
    transform: rotate(1deg);
}

.col:nth-of-type(11) {
    transform: rotate(-1deg);
}

.col:nth-of-type(12) {
    transform: rotate(1deg);
}

button {
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;

    img {
        width: 20px;
        height: 20px;
    }
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10%;
}

.images {
    position: relative;

    figure{
        position: absolute;
        z-index: 1;
    }

    div{
        padding-left: 3%;
        padding-top: 3%;
        position: absolute;
        z-index: 2;

        span {
            font-family: 'LondrinaSolid-Black';
            color: white;
            font-weight: bold;
            font-size: 1rem;
            text-shadow: 1px 1px 2px black;
        }
    }
}

